.card{
    text-align: center; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.anil{
    width: 300px;
    height:300px;
    margin-top: 10%
   
}
.reset{
    margin-top: 10%;
}


